/* REVIEW: ACCOUNT CUSTOM STYLE  */
.acbg {
  position: absolute;
  background: #f5f5f5;
  width: 100%;
  height: 450px;
  z-index: 1;
}

.account_img {
  background-image: url(../img/banner_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 450px;
  z-index: 9;
  margin: 0 -15px;
  margin-bottom: -60px;
}

.account .item {
  width: 100%;
}

.account .carousel {
  margin-top: 0;
}

.account .item {
  border-radius: 8px;
  /* background: #000; */
  height: 200px;
}

.account .owl-item:not(.center) {
  opacity: 1;
  transition: .5s;
}

.account .owl-item {
  opacity: 1;
  transition: .5s;
}

.banner {
  border-radius: 8px;
  padding: 24px 0 0 24px;
  background-image: linear-gradient(196deg, #FFCE41 0%, #E87E40 35%, #D53A3F 48%, #0350A0 100%);
  background-repeat: no-repeat;
  box-shadow: 0 20px 24px -8px rgb(18, 0, 29, .6);
  z-index: 6;
}

.banner .image {
  background-image: url(../img/banner_img.png);
  background-repeat: no-repeat;
  background-size: 320px;
  background-position-x: 120px;
  background-position-y: 10px;
  ba width: 100%;
  padding-bottom: 24px;
}

.banner a {
  text-decoration: none;
}

.banner h1 {
  font-weight: 900;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 0.35px;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  margin: 24px 0 0 0;
}

.banner h2 {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  margin: 16px 0;
}

.btn_bonus {
  background-image: radial-gradient(30% 70%, #B6CE1A 43%, #4FAF48 100%);
  background-color: #4FAF48;
  background-position-x: -150px;
  background-repeat: no-repeat;
  box-shadow: 0 15px 12px -9px rgba(41, 131, 34, 0.37);
  border-radius: 8px;
  padding: 32px 24px 24px 24px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  line-height: 26px;
  text-decoration: none;
  float: left;
  transition: .3s;
  margin-top: 30px;
}

.btn_bonus span {
  font-weight: 500;
  font-size: 14px;
  color: #FFF;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  width: 100%;
  float: left;
  margin-top: 8px;
  transition: .3s;
}

.btn_bonus:hover {
  color: #FFF;
  transition: .3s;
}

.hovers:hover {
  transform: scale(1.03);
  transition: .3s;
}

.cards {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  display: block;
  font-weight: 900;
  font-size: 16px;
  color: #512280;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
  transition: .3s;
  margin-top: 30px;
}

.cards p {
  font-weight: 900 !important;
  font-size: 16px !important;
  color: #512280 !important;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 6px;
}

.cards img {
  height: 64px;
  margin-bottom: 16px;
}

.cards span {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 14px;
}

.carusel_banner {
  width: 100%;
  float: left;
  background-color: #000;
  display: block;
  border-radius: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 24px;
}

.carousel h5 {
  font-weight: 900;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 28px;
  text-shadow: 0 1px 1px #561762;
  text-align: left;
  margin: 18px 8px 8px 8px;
}

.carousel h6 {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: left;
  margin: 8px 8px 18px 8px;
}

.account .owl-dots {
  display: none;
}

.question {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #262626;
  float: left;
}

.answer {
  font-weight: 500;
  font-size: 16px;
  color: #262626;
  line-height: 20px;
  display: block;
  padding: 8px 0 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #CCCCCC;
  float: left;
}

/* REVIEW: ACCOUNT SCREEN SMALL-ONLY STYLE  */
@media screen and (max-width: 576px) {
  .banner h1 {
    font-weight: 900;
    font-size: 21px;
    color: #fff;
    letter-spacing: 0.35px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }

  .banner h2 {
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
    margin: 16px 0;
  }

  .carousel h5 {
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    text-shadow: 0 1px 1px #561762;
    text-align: left;
    margin: 8px;
    width: 100px;
  }

  .carousel h6 {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    text-align: left;
    margin: 8px;
    width: 100px;
  }
}

/* REVIEW: ACCOUNT SCREEN LARGE STYLE  */
@media screen and (min-width: 576px) {
  .acbg {
    display: none;
  }

  .btn_bonus {
    padding: 43px 24px 40px;
  }

  .carusel_banner {
    padding: 19px;
    background-size: cover;
  }
}
