.gradient {
  position: absolute;
  background-image: linear-gradient(193deg, #ffce41, #e87e40 21.85%, #d53a3f 43.28%, #0350a0 65.13%);
  height: calc(100vh - 64px);
  width: 100%;
  margin-top: 64px;
}


.bg {
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  z-index: 1;
}

/* .r-t {
  background-image: url(../img/bg/bg-r-t.gif);
  width: 100%;
  height: 371px;
  top: 64px;
  right: 0px;
  background-position-y: top;
  background-position-x: right;
} */

/* .l-b {
  background-image: url(../img/bg/bg-l-b.png);
  width: 424px;
  height: 393px;
  left: 0;
  background-position-y: bottom;
  background-position-x: right;
  bottom: 0;
} */
