@media screen and (max-width: 576px) {
  .game {
    background-image: linear-gradient(180deg, #D23A5D -20%, #6720A3 15%);
  }

  .game_img {
    height: 350px;
  }

  .share_img {
    height: 300px;
  }

  .polygon {
    background-image: linear-gradient(180deg, #D23A5D -20%, #6720A3 15%) !important;
  }

  .banner h1 {
    font-weight: 900;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0.35px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    margin: 16px 0 0 0;
    transform: skew(0, 3deg);
  }

  .banner h2 {
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
    margin: 16px 0;
    transform: skew(0, 3deg);
  }

  #content .account {
    background: none !important;
  }

  .share_img {
    background-image: url(../img/share_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    margin-top: -40px;
    z-index: 10;
  }

  .carousel h5 {
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    text-shadow: 0 1px 1px #561762;
    text-align: left;
    margin: 8px;
    width: 100px;
  }

  .carousel h6 {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    text-align: left;
    margin: 8px;
    width: 100px;
  }

}

@media screen and (max-width: 800px) {
#content .account {
    background: none !important;
  }

}
