@media screen and (max-width: 576px) {
  .game {
    background-image: linear-gradient(180deg, #D23A5D -20%, #6720A3 15%);
  }

  .game_img {
    height: 350px;
  }

  .share_img {
    height: 300px;
  }

  .share_img {
    background-image: url(../img/share_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    margin-top: -40px;
    z-index: 10;
  }

}
