/* REVIEW: SHARE custom style  */




@media screen and (max-width: 576px) {
  .share_img {
    height: 300px;
  }

  .share_img {
    background-image: url(../img/share_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    margin-top: -40px;
    z-index: 10;
  }

}
