body {
  background: #0350A0;
}

.index h2 {
  font-weight: 500;
  font-size: 24px;
  color: #6800A3;
  text-align: center;
  line-height: 28px;
}

#content {
  z-index: 2;
  padding-top: 56px;
  }

.title {
  margin-bottom: 56px;
}

/* REVIEW: Share custom style  */

.share_img {
  background-image: url(../img/share_img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 100%;
  z-index: 10;
  height: 350px;
}

.rule p {
  font-weight: 500;
  font-size: 16px;
  color: #DCBAF0;
  text-align: center;
  line-height: 19px;
  margin-top: 16px;
  padding: 0 16px;
}

.rule .small {
  font-size: 14px;
  font-style: italic;
  color: #fff;
  text-align: center;
  line-height: 19px;
  width: 100%;
}

.rule_lg p {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 19px;
  margin-top: 16px;
  text-align: left;
}

.rule_lg .small {
  font-weight: 500;
  font-size: 14px;
  color: #DCBAF0;
  font-style: italic;
  line-height: 19px;
  margin-top: 16px;
  text-align: left;
}

/* Content style  */
.new_sms {
  margin-bottom: 30px;
}

.new_sms p {
  font-size: 16px;
  color: #fff;
}

/* Carusel style  */
.cat h6 {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 4px;
}

.cat h1 {
  font-weight: 900;
  font-size: 19px;
  color: #6800A3;
  text-align: center;
  line-height: 24px;
  margin-top: -5px;
  text-transform: uppercase;
}

.cat h2 {
  font-weight: 700;
  font-size: 24px;
  color: #6800A3;
  text-align: center;
  line-height: 28px;
  margin: 0;
}

.cat h3 {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 21px;
  margin: 0;
  text-transform: none;
  padding-bottom: 32px;
}

.carousel {
  margin-top: 30px !important;
}

.owl-dots {
  margin-top: 15px;
  text-align: center;
}

.owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px;
  background: #93D3FF;
  display: block;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #022F6E;
}

.pack {
  height: 295px;
  margin: 0 auto;
  display: block;
}

.packn {
  height: 279px;
  margin: 0 auto;
  display: block;
}

.owl-item:not(.center) {
  opacity: 0;
  transition: .5s;
}

.owl-item {
  opacity: 1;
  transition: .5s;
}

.item {
  width: 350px;
}

.item img {
  margin-left: -5px;
}

.item p {
  font-weight: 900;
  font-size: 14px;
  color: #212121;
  text-align: center;
  line-height: 18px;
}

.item span {
  font-weight: 700;
  font-size: 12px;
  color: #212121;
  text-align: center;
  line-height: 18px;
  justify-content: center !important;
  display: flex;
}

/* Social style  */
.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
  height: 48px !important;
  width: 48px !important;
  background-size: 48px 48px !important;
}

.ya-share2__list.ya-share2__list_direction_horizontal>.ya-share2__item {
  margin: 2px 10px 0 0 !important;
}

/* .ya-share2__item_service_vkontakte .ya-share2__badge, .ya-share2__item_service_vkontakte .ya-share2__mobile-popup-badge {
box-shadow: 0 3px 0 0 #21548e, 0 4px 0 0 #234a75, 0 5px 2px -1px #052952, 0 6px 3px -1px rgba(0, 87, 137, 0.40), 0 13px 6px -4px rgba(4, 86, 133, 0.40);
}
.ya-share2__item_service_facebook .ya-share2__badge, .ya-share2__item_service_facebook .ya-share2__mobile-popup-badge {
box-shadow: 0 3px 0 0 #153e6b, 0 4px 0 0 #183657, 0 5px 2px -1px #052952, 0 6px 3px -1px rgba(0, 87, 137, 0.40), 0 13px 6px -4px rgba(4, 86, 133, 0.40);
}
.ya-share2__item_service_odnoklassniki .ya-share2__badge, .ya-share2__item_service_odnoklassniki .ya-share2__mobile-popup-badge {
box-shadow: 0 3px 0 0 #a7501f, 0 4px 0 0 #954315,  0 6px 3px -1px rgba(136, 89, 0, 0.75), 0 13px 6px -4px rgba(203, 112, 23, 0.58);
}
.ya-share2__item_service_whatsapp .ya-share2__badge, .ya-share2__item_service_whatsapp .ya-share2__mobile-popup-badge {
box-shadow: 0 3px 0 0 #398729, 0 4px 0 0 #346f29,  0 6px 3px -1px rgba(44, 136, 0, 0.75), 0 13px 6px -4px rgba(126, 203, 23, 0.58);
}
.ya-share2__item_service_telegram .ya-share2__badge, .ya-share2__item_service_telegram .ya-share2__mobile-popup-badge {
box-shadow: 0 3px 0 0 #3f79a4, 0 4px 0 0 #2c6793, 0 6px 3px -1px rgba(0, 87, 137, 0.40), 0 13px 6px -4px rgba(4, 86, 133, 0.40);
} */
