body {
  background: #0350A0;
}

.index h2 {
  font-weight: 500;
  font-size: 24px;
  color: #6800A3;
  text-align: center;
  line-height: 28px;
}

#content {
  padding-top: 56px;
  }

.title {
  margin-bottom: 56px;
}

/* Content style  */
.new_sms {
  margin-bottom: 30px;
}

.new_sms p {
  font-size: 16px;
  color: #fff;
}
