.white-bg {
  color: #fff !important;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: #0F2B63;
  text-align: center;
  line-height: 28px;
  margin-bottom: 0px;
}

h2 {
  font-weight: 900;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  line-height: 27px;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  color: #FFFFFF;

  line-height: 27px;
  text-transform: uppercase;
  width: 100%;
  z-index: 12;
  margin-bottom: 0;
  margin-top: 40px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  color: #DCBAF0;
  line-height: 24px;
  text-transform: none;
  width: 100%;
  margin-top: 18px;
  z-index: 11;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 18px;
  text-align: center;
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 24px;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 21px;
  margin-top: 4px;
  margin-bottom: 0;
}

p {
  font-weight: 500;
  font-size: 14px;
  color: #454545;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

label {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 18px;
}

a {
  font-weight: 700;
  color: #03B1EB;
  text-decoration: underline;
  letter-spacing: 0;
  cursor: pointer;
}

a:hover {
  color: #1782A6;
  text-decoration: none;
  cursor: pointer;
}
